$blue: rgb(35, 35, 71);
$navigationBackground: rgb(38, 43, 58);
$sidebarBackground: rgb(24, 29, 48);
$blue-light: rgb(58, 61, 68);
$red: #f33a4f;
$darkRed: #df2c5a;
$grey: rgb(95, 91, 91);
$light-blue: rgb(97, 161, 204);
$light-grey: rgb(201, 201, 201);
$icon-grey: rgb(216, 214, 206);
$super-light-grey: rgb(236, 217, 217);
$white: white;
$success-dark: rgb(70, 116, 70);
$success: rgb(206, 226, 206);
