.form {
  width: 400px;
  margin: 150px auto;
  margin-bottom: 200px;
  @include screen(custom, 600) {
    width: 100%;
    padding: 0 40px;
    padding-bottom: 100px;
    margin: 90px auto;
    margin-bottom: 0px;
  }
}
.input_container {
  margin-bottom: 14px;
  position: relative;
}
.form_input {
  width: 100%;
  padding: 13px 10px 13px 50px;
  border-radius: 5px;
  border: 1px solid $grey;
  outline: 0;
  font-size: 18px;
  &:focus {
    border: 1px solid $light-blue;
  }
}

.form_text {
  padding: 35px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid $light-grey;
}
.form_icon {
  font-size: 22px;
  color: $icon-grey;
}
.form_icon_container {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.form_submit {
  @extend .btn_one;
  display: block;
  width: 100%;
  background: $red;
  margin-top: 40px;
  padding: 15px 0;
  &:hover {
    background: $darkRed;
  }
}
.form_submit:disabled {
  background: rgb(184, 182, 182);
  cursor: not-allowed;
}
.form_discleimer {
  font-size: 12px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid $light-grey;
  span {
    color: rgb(97, 161, 204);
  }
}

.form_redirect {
  color: $light-blue;
  font-weight: 600;
  text-decoration: none;
  margin-left: 10px;
}

.form h4 {
  font-weight: normal;
  margin-top: 20px;
}

.validation_errors {
  background: rgb(248, 209, 209);
  color: rgb(155, 68, 68);
  padding: 22px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recipe_forms_container {
  height: 300px;
  width: 900px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  @include screen(custom, 1080) {
    width: 100%;
    position: relative;
    top: 0;
    padding: 20px;
  }
}
.recipe_form {
  background: $white;
  border-radius: 2px;
  padding: 80px 45px 45px 45px;
  margin-bottom: 50px;
  position: relative;
  border: 1px solid rgba(59, 59, 59, 0.1);
  @include screen(custom, 500) {
    padding: 80px 10px 45px 10px;
  }
}
.recipe_form-decor {
  background: $red;
  color: $white;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
  border-bottom-right-radius: 35px;
}
.recipe_form_control,
.recipe_form_select_control {
  padding: 10px 0 30px 0;
}
.recipe_form_control:last-of-type {
  padding: 10px 0 0 0;
}
.recipe_form_label {
  color: $red;
  font-weight: 600;
}
.recipe_form_input {
  padding: 7px;
  outline: none;
  border: 0;
  border: 1px solid $icon-grey;
  border-radius: 3px;
  width: 100%;
  font-size: 17px;
}
.recipe_form_icon {
  color: $red;
  font-size: 20px;
  margin-right: 10px;
}
.recipe_form_select_control {
  width: 100%;
  display: flex;
  @include screen(custom, 700) {
    display: block;
  }
}
.recipe_form_select_control_label {
  @extend .recipe_form_select_control;
  padding: 0;
  @include screen(custom, 700) {
    display: none;
  }
}
.recipe_form_label_wrap {
  flex: 1;
  margin-right: 20px;
  &:last-child {
    margin-right: 0px;
  }
}

.recipe_form_select {
  margin-right: 20px;
  &:last-child {
    margin-right: 0px;
  }
  @include screen(custom, 700) {
    display: block;
    margin-bottom: 40px;
  }
}
.recipe_form_select,
.recipe_form_input {
  &:focus {
    border: 1px solid $light-blue;
  }
}

.recipe_form_ingredient_input,
.recipe_form_instructions_input {
  @extend .recipe_form_input;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  input,
  textarea {
    font-size: 17px;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 3px;
  }
}
.recipe_form_instructions_input {
  align-items: flex-start;
}
.form_numer {
  background: $red;
  color: white;
  width: 32px;
  height: 32px;
  @include flex();
  border-radius: 50%;
  font-size: 20px;
  margin: 5px 0;
  margin-right: 15px;
}

.form_add_ingredient {
  @extend .btn_one;
  margin-top: 45px;
  background: $white;
  color: $red;
  font-size: 14px;
  border: 1px solid $light-grey;
}
.empty_ingredient_error {
  @extend .validation_errors;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.recipe_form_ingredient,
.recipe_form_instruction {
  @extend .recipe_form_ingredient_input;
  margin-bottom: 25px;
  overflow: hidden;
  align-items: flex-start;
}
.recipe_form_ingredient {
  align-items: center;
}
.recipe_form_instruction {
  height: 150px;
  padding: 0 20px;
}

.recipe_form_ingredient_text,
.recipe_form_instruction_text {
  font-size: 17px;
  color: $grey;
  width: 100%;
  padding: 3px;
}
.recipe_form_instruction_text {
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 15px;
  margin-right: 20px;
}
.delete_ingredient {
  color: $red;
  font-size: 29px;
  cursor: pointer;
}

.recipe_form_tags {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}
.recipe_form_tag {
  background: rgb(248, 209, 209);
  color: rgb(155, 68, 68);
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 20px;
  @include flex(center center row);
  padding: 5px 20px;
}
.recipe_form_submit {
  @extend .btn_one;
  background: $red;
  display: block;
  margin: 70px auto;
  &:hover {
    background: $darkRed;
  }
}
.recipe_form_submit:disabled {
  cursor: not-allowed;
  background: rgb(190, 186, 186);
}
.recipe_form_upload_file {
  display: none;
}
.recipe_form_upload_label {
  @extend .btn_one;
  background: $white;
  color: $red;
  border: 1px solid $light-grey;
  border-radius: 50px;
}
.recipe_form_preview_image {
  height: 200px;
  width: 20%;
  margin: 0 2.5%;
  margin-top: 20px;
  background-position: center;
  background-size: cover;
}
.recipe_form_preview_images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.recipe_form_success {
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  color: $success-dark;
  background: $success;
  margin-bottom: 50px;
}
.recipe_form_checkbox_label {
  width: 20px;
  height: 20px;
  background: $red;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.recipe_form_checkbox_label::before {
  display: none;
  position: absolute;
  content: "";
  width: 7px;
  height: 14px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.recipe_form_checkbox {
  display: none;
}
.recipe_form_checkbox:checked + label::before {
  display: block;
}

.wrap_form_control {
  max-width: 650px;
  margin: 50px auto;
}
